body {
      margin: 0;
      padding: 0;
      background-color: #003366;
      color: white;
      text-align: center;
      font-family: 'Segoe UI', sans-serif;
    }
    h1 {
      margin: 0;
      padding: 5px;
      font-size: 2.5em;
    }
        h2 {
      margin: 0;
      padding: 1px;
      font-size: 1.0em;
    }